<div class="wraper">
  <div class="modal">
    <div class="modal__close" (click)="closeModal()">X</div>

    <!-- Reacti forms -->


    <input placeholder="Name"[(ngModel)]="userName" type="text">
    <input placeholder="Email" [(ngModel)]="email" type="text">
    <input placeholder="Age" [(ngModel)]="age" type="text">

    <div class="modal__button" (click) = "saveUser()">OK</div>
  </div>
</div>
