.wraper {
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(black, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  left: 0;
  top: 0;

}


.modal {
  width: 50%;
  min-width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  box-shadow:  0 0 10px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;


  &__close {
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }



  input {
    width: 150px;
    height: 40;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 25px;

    outline: none;
    border: 2px solid gray;
  border-radius: 3px;
  }


  &__button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
