<!-- <h1 (click) ="addCounter()">Счет: {{ count }}</h1> -->

<div class="conteiner">
  <!--*ngFor= "let item of array"-->>

  <app-user-card (userDelete)="deleteUser($event)" [user]="item" *ngFor="let item of users"> {{ item }} </app-user-card>


  <button (click)="addUser()">Add user </button>


  <!-- <app-user-card> </app-user-card>

    <app-user-card> </app-user-card>

    <app-user-card> </app-user-card> -->



</div>

<app-add-user-modal (closeEvent) = "closeModal()" *ngIf="isModalOpened"></app-add-user-modal>
