.card{
    width: 100%;
    max-width: 400px;
    border: 1px solid red;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;
    height: 100px;
    position: relative;


    &__avatar{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }


    &__info{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    &-name{
        font-weight: bold;
        font-size: 20px;
        max-width: 75%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-email{
        font-style: italic;
    }

    &-age{
        color: green;
    }


    &__btn{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        top: 5px;
        transition: .5s;


        &_edit{
          background-color: rgb(38, 25, 158);
          right: 30px;

        }

        &_close{
          background-color: red;
          right: 5px;

        }

        &_active{
          background-color: yellowgreen;
          right: 5px;
        }

        &-icon{

          width: 10px;
        }
    }


}



