<div class="card">
  <img class="card__avatar" [src]=" user.avatar " alt="">

  <div class="card__info">
      <ng-container *ngIf="isEditState then edit else view"></ng-container>
  </div>




  <div class="card__btn card__btn_edit" [class.card__btn_active]="isEditState" (click)="toggleEditMode()">
    <img class="card__btn-icon" src="assets/edit-regular.svg" alt="">
  </div>



  <div *ngIf="!isEditState" class="card__btn card__btn_close" (click)="onDelete()">X</div>



</div>




<!-- Template -->



<ng-template #edit>
  <input type="text" [(ngModel)]="user.name" placeholder="Name">
  <input type="text" [(ngModel)]="user.email" placeholder="Email">
  <input type="text"[(ngModel)]="user.age" placeholder="Age">
</ng-template>
<!-- prosmotr -->
<ng-template #view>
  <span class="card__info-name" [title] = "user.name"> {{user.name}}</span>
  <span class="card__info-email">{{user.email}}</span>
  <span class="card__info-age"> {{ user.age }} </span>
</ng-template>
