.btn{
    width:100px;
    height: 40px;
    border: 2px solid gray;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}



.limit {
    background-color: red;
}